{% extends 'base.html' %}

{% block content %}
<div class='col-sm-12'>
<h2 style= 'text-align: left;'>Watch this...</h2>
    <iframe  width="560" height="315" src="//www.youtube.com/embed/QJFO2OPpcTI" frameborder="0" allowfullscreen></iframe>    
</div>

<div class="col-md-4">
    <h2>Social</h2>
    <p><div class="fb-like" data-href="http://rapcribs.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></p>
    <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rapcribs.com" data-via="alexosborne">Tweet</a></p>
</div>
{% endblock %}